@charset "UTF-8";
/* global resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    background-color: #D2DEF8;
}
/* *** */

:root {
    /* colors */
    --primary: #2563EB;
    --secondary: #1E293B;
    --highlight: #22C55E;
    --bg: #F8FAFC;
    --text-color: #0F172A;
    /* *** */

    /* tipografia */
    --ff-titles: "Poppins", sans-serif;
    --ff-text: "Inter", sans-serif;
    /* *** */
}

/* mobile */
@media screen and (max-width: 780px) {
    html,
    body {
        display: block;
    }

    /* apagar ao finalizar versão do desktop */
    .mobile__only__warning {display: none;}
    /* *** */
    /* header styles */

    header > .container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 2px 4px -4px #1E293B;
        background-color: #D2DEF8;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
    }

    /* nav styles */
    #navbarHeader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--bg);
        padding: 24px;
        z-index: 998;
        
    }

    #navbarHeader > ul {
        list-style-type: none;
    }

    #navbarHeader > ul > li > a {
        display: block;
        border-bottom: 1px solid #1e293b2c;
        text-decoration: none;
        padding: 18px 0;

        font-size: 20px;
        font-family: var(--ff-text);
        font-weight: 600;
        color: var(--text-color);

        transition: color 0.3s ease-out;
    }

    #navbarHeader > ul > li:nth-child(4) > a{
        border: none;
    }

    #navbarHeader > ul > li > a:hover {
        color: var(--primary);
    }

    /* *** */

    #logo {
        font-size: 14px;
        text-decoration: none;
        color: var(--text-color);
    }

    #logo > h1 > span {
        color: var(--primary);
    }

    .logo__icon__style {
        background-color: #2563EB;
        padding: 10px;
        border-radius: 6px;
        display: flex;
    }

    .logo__icon__style > i {
        font-size: 18px;
        color: var(--bg);
    }

    #btnMenuMobile,
    #btnMenuClose {
        z-index: 1000;
        font-size: 32px;
        cursor: pointer;
        color: var(--text-color);
        border-radius: 6px;
        padding: 6px;
        transition: background-color 0.3s ease-out;
    }

    #btnMenuMobile:hover,
    #btnMenuClose:hover {
        background-color: #cccccc69;
    }

    .buttons__header__wrapper {
        display: flex;
        flex-flow: column nowrap;
    }

    .buttons__header__wrapper > a {
        display: block;
        text-decoration: none;
        font-family: var(--ff-text);
        font-size: 20px;
        font-weight: 500;
        padding: 15px 0;
        text-align: center;        
        border-radius: 6px;
        margin-top: 10px;
    }

    .buttons__header__wrapper > a:first-child {
        border: 1px solid var(--primary);
        color: var(--primary);
        transition: background-color 0.3s ease-out, color 0.3s ease-out;
    }

    .buttons__header__wrapper > a:first-child:hover {
        color: var(--bg);
        background-color: var(--primary);
    }

    .buttons__header__wrapper > a:last-child {
        color: var(--bg);
        background-color: var(--primary);
        transition: 0.3s ;
    }

    .buttons__header__wrapper > a:last-child:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(37, 99, 235, 0.5);
    }

    /* section hero style */
    section#hero {
        padding: 80px 0;
    }

    /* hero styles */
    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        align-items: center;
        padding: 40px 0;
    }

    .title__section {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        background-color: var(--bg);
        border-radius: 30px;
        padding: 10px 15px;
        
        grid-row: 1 / -6;
        grid-column: 1 / -1;
    }


    .title__section > .icon__status > span {
        width: 10px;
        height: 10px;
        display: block;
        background-color: #22C55E;
        border-radius: 50%;

        animation-name: iconStatus;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    @keyframes iconStatus {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);

        }
        100% {
            transform: scale(1);

        }
    }

    .title__section > p {
        font-weight: 700;
        font-size: 13px;
        font-family: var(--ff-text);
        text-align: center;
        color: var(--highlight);
    }

    /* *** */
    .text__contents__hero {
        grid-row: 2 / -5;
        grid-column: 1 / -1;

        padding: 24px 0;
    }

    .text__contents__hero > h1 {
        color: var(--text-color);
        font-family: var(--ff-titles);
        text-align: center;
        font-size: 38px;
        line-height: 46px;
    }

    .text__contents__hero > p {
        color: var(--secondary);
        font-family: var(--ff-text);
        text-align: center;
        opacity: 50%;
        letter-spacing: 1px;
        line-height: 28px;
        padding: 15px 0 0 0;
    }

    .text__contents__hero > h1 > span {
        color: var(--primary);
    }

    .buttons__hero__wrapper {
        grid-row: 3 / -4;
        grid-column: 1 / -1;

        display: flex;
        flex-flow: column nowrap;
        gap: 15px;
        align-items: center;
    }

    .buttons__hero__wrapper > #btnFreeTest {
        background-color: var(--primary);
        width: 60%;
        color: var(--bg);
        transition: 0.3s;
    }

    .buttons__hero__wrapper > #btnFreeTest:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(37, 99, 235, 0.5);
    }

    .buttons__hero__wrapper > #btnFuncionalidades {
        width: 70%;
        color: var(--primary);
        text-align: center;
        border: 2px solid var(--primary);
        transition: background-color 0.3s, color 0.3s ease-out;
    }

    .buttons__hero__wrapper > #btnFuncionalidades:hover {
        color: var(--bg);
        background-color: var(--primary);
    }

    .buttons__hero__wrapper > #btnFreeTest,
    .buttons__hero__wrapper > #btnFuncionalidades {
        padding: 15px 25px;
        text-align: center;
        font-family: var(--ff-text);
        font-weight: 600;
        border-radius: 8px;
        text-decoration: none;
    }
    /* *** */
   .metricas__hero__wrapper {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        padding: 60px 24px 40px 24px;
   }

   .metricas__hero__wrapper > .item__metrica {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        gap: 5px;
   }

   .item__metrica > h3 {
        color: var(--text-color);
        font-family: var(--ff-text);
        font-weight: bold;
   }

   .item__metrica > h3 > i {
        font-size: 14px;
   }

   .item__metrica > p {
        font-family: var(--ff-text);
        font-size: 14px;
        opacity: 50%;
   }
   /* *** */

   .app__showcase__wrapper {
        grid-row: 5 /6 ;        
        grid-column: 1 / -1;
   }

   .showcase__header {
        display: flex;
        align-items: center;
        gap: 5px;
   }

   .app__showcase {
    background-color: var(--bg);
        border-radius: 12px;
        box-shadow: 0px 4px 5px -4px #1E293B;
        width: 100%;
        margin: auto;

        animation-name: appShowcaseAnim;
        animation-duration: 4s;
        animation-iteration-count: infinite;
   }

   @keyframes appShowcaseAnim {
        0% {
            transform: translateY(0);
        }

         50% {
            transform: translateY(-15px);

        }
         100% {
            transform: translateY(0);

        }
        
   }

   .app__showcase > .showcase__header {
        background-color: var(--text-color);
        padding: 20px;
        border-radius: 12px 12px 0 0;
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        align-items: center;
   }
   .app__showcase > .showcase__header > h3 {
        color: #ffffff72;
        font-family: var(--ff-text);
        text-align: center;
        font-size: 16px;
        width: 100%;

   }

   .buttons__window__showcase {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
   }

   .buttons__window__showcase i:nth-child(1) {
        color: #ED6A5F;
        font-size: 12px;
   }
   .buttons__window__showcase i:nth-child(2) {
        color: #F6BE50;
        font-size: 12px;
   }
   .buttons__window__showcase i:nth-child(3) {
        color: #61C555;
        font-size: 12px;
   }


}