@charset "UTF-8";
/* global resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    display: none; /*apagar essa linha depois de finalizar a versão desktop*/
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
/* *** */

:root {
    /* colors */
    --primary: #2563EB;
    --secondary: #1E293B;
    --highlight: #22C55E;
    --bg: #F8FAFC;
    --text-color: #0F172A;
    /* *** */

    /* tipografia */
    --ff-titles: "Poppins", sans-serif;
    --ff-text: "Inter", sans-serif;
    /* *** */
}

/* class aux */
.flex_container_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding: 0 2%;
}
/* *** */

header > .flex_container_header >  #logo {
    color: var(--text-color);
    font-family: var(--ff-text);
    font-size: 24px;
    font-weight: 900;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* gap: 6px; */
}

#logo > i, 
#logo > span {
    color: var(--primary);
}


main {
    background-color: #FFFFFF;
}